._carousel-item--about-me {
    ._carousel-item__content {
        grid-template-areas:
            'header'
            'info';
    }

    ._content__info {
        grid-area: info;
        font-size: 1.1rem;
        align-self: start;
    }

    ._content__skill {
        display: none;
        z-index: 1;

        @media (min-width: 40rem) {
            width: 100%;
            grid-area: skills;
            align-self: start;
            height: 100%;
            display: grid;
            grid-gap: 0.5rem;
        }

        ._content-backdrop {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            display: none;
            background-color: black;
            opacity: 0;
            z-index: 1;

        }

        ._skill-container {
            cursor: pointer;

            ._skill-info {
                position: absolute;
                background-color: var(--color_5);
                top: 4rem;
                padding: 1rem;
                width: 100%;
                overflow: hidden;
                border-radius: 1rem;
                text-align: left;
                cursor: auto;
                height: 0;
                opacity: 0;
                display: none;

                h1 {
                    font-size: 2rem;
                    color: var(--color_2);
                }

                h2 {
                    font-size: 1.2rem;
                    color: var(--color_3);
                }

                span {
                    text-decoration: underline;
                    color: var(--color_3);
                }

                p {
                    font-size: 1rem;
                    margin: 0.4rem 0;
                }
            }
        }
    }
}

._carousel-item--my-skills {
    ._carousel-item__content {
        grid-template-areas:
            'header'
            'skills';
    }

    ._content__skill {
        width: 100%;
        grid-area: skills;
        display: grid;
        grid-gap: 0.5rem;

        ._content-backdrop {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            display: none;
            background-color: black;
            opacity: 0;
            z-index: 1;
        }

        ._skill-container {
            display: flex;
            align-items: center;

            ._skill-icon {
                width: 3.5rem;
            }

            ._skill-progress {
                margin-left: 1rem;
                width: 100%;
            }

            ._skill-info {
                position: absolute;
                background-color: var(--color_5);
                top: 4rem;
                padding: 1rem;
                width: 100%;
                overflow: hidden;
                border-radius: 1rem;
                text-align: left;
                cursor: auto;
                height: 0;
                opacity: 0;
                display: none;

                h1 {
                    font-size: 2rem;
                    color: var(--color_2);
                }

                h2 {
                    font-size: 1.2rem;
                    color: var(--color_3);
                }

                span {
                    text-decoration: underline;
                    color: var(--color_3);
                }

                p {
                    font-size: 1rem;
                    margin: 0.4rem 0;
                }
            }
        }
    }
}

@media (min-width: 40rem) {
    ._carousel-item--about-me ._carousel-item__content {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'header     header'
            'info       skills';
    }

    ._carousel-item--about-me ._content__info {
        padding-top: 0.5rem;
        text-align: left;
        justify-self: left;
    }

    ._carousel-item--about-me ._content__info h3 {
        font-size: 1.5rem;
    }

    ._carousel-item--about-me ._content__skill ._skill-container {
        display: flex;
        align-items: center;
    }

    ._carousel-item--about-me ._content__skill ._skill-icon {
        width: 3.2rem;
    }

    ._carousel-item--about-me ._content__skill ._skill-progress {
        margin-left: 1rem;
        width: 100%;
    }

    ._carousel-item--my-skills ._content__header,
    ._carousel-item--my-skills ._content__skill {
        display: none;
    }
}
