._carousel-item--home ._carousel-item__content {
    grid-template-areas:
        'header'
        'photo'
        'info'
        'presentation';
}

._carousel-item--home ._content__brand-complete {
    grid-area: header;
    align-self: end;
    font-family: var(--font_1);
    position: relative;
    // animation: test 2s 1s 1;
    animation: brandCompleteAnimation 500ms 1s ease-out 1 both;
}

._carousel-item--home ._content__brand-complete h1 {
    margin: 0;
    font-size: 2.4rem;
    color: var(--color_1);
}

._carousel-item--home ._content__brand-complete span {
    font-weight: 900;
    color: var(--color_2);
}

._carousel-item--home ._content__photo img {
    grid-area: photo;
    border-radius: 500px;
    width: 13rem;
    border: var(--color_1) 6px solid;
    animation: userPhotoAnimation 500ms 1500ms ease-out 1 both;
}

._carousel-item--home ._content__info {
    grid-area: info;
    font-family: 'Roboto Condensed', sans-serif;
}

._carousel-item--home ._content__info ._hello-text {
    font-size: 2.5rem;
    animation: helloTextAnimation 500ms 2s ease-out 1 both;
}

._carousel-item--home ._content__info ._name-text {
    animation: nameTextAnimation 500ms 2.5s ease-out 1 both;
}

._carousel-item--home ._content__info ._category-text {
    font-size: 1.5rem;
    animation: categoryTextAnimation 500ms 3s ease-out 1 both;
}

._carousel-item--home ._content__presentation {
    grid-area: presentation;
    color: var(--color_2);
    font-size: 2.2rem;
    font-weight: bold;
    animation: presentationTextAnimation 2s 3.5s ease-out 1 both;
}

@media (min-width: 40rem) {
    ._carousel-item--home ._carousel-item__content {
        grid-template-areas:
            'header           header'
            'photo            info'
            'presentation     presentation';
    }

    ._carousel-item--home ._content__brand-complete h1 {
        font-size: 3.4rem;
    }

    ._carousel-item--home ._content__photo {
        justify-self: right;
    }

    ._carousel-item--home ._content__photo img {
        width: 18rem;
    }

    ._carousel-item--home ._content__info {
        align-self: center;
        font-size: 3.5rem;
        text-align: left;
        justify-self: left;
    }
   
    ._carousel-item--home ._content__info ._hello-text {
        font-size: 3.5rem;
    }

    ._carousel-item--home ._content__info h3 {
        font-size: 2.5rem;
    }
    ._carousel-item--home ._content__info ._category-text {
        font-size: 2.5rem;
    }

    ._carousel-item--home ._content__presentation {
        font-size: 3.2rem;
    }
}

// animations
@keyframes brandCompleteAnimation {
    0% {
        top: -8rem;
    }
    60% {
        top: 1rem;
    }
    100% {
        top: 0rem;
    }
}

@keyframes userPhotoAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes helloTextAnimation {
    0% {
        transform: translateX(-100rem);
    }
    60% {
        transform: translateX(1rem);
    }
    100% {
        transform: translateX(0rem);
    }
}

@keyframes nameTextAnimation {
    0% {
        transform: translateX(100rem);
    }
    60% {
        transform: translateX(-1rem);
    }
    100% {
        transform: translateX(0rem);
    }
}

@keyframes categoryTextAnimation {
    0% {
        transform: translateX(-100rem);
    }
    60% {
        transform: translateX(1rem);
    }
    100% {
        transform: translateX(0rem);
    }
}

@keyframes presentationTextAnimation {
    0% {
        transform: perspective(1rem) translateZ(50px);
    }
    17% {
        transform: perspective(1rem) translateZ(-5px);

    }
    34% {
        transform: perspective(1rem) translateZ(4px);

    }
    51% {
        transform: perspective(1rem) translateZ(-3px);

    }
    68% {
        transform: perspective(1rem) translateZ(2px);

    }
    86% {
        transform: perspective(1rem) translateZ(-1px);

    }
    100% {
        transform: perspective(1rem) translateZ(0px);

    }
}
