.card {
    width: 100%;
    min-width: 285px;
    height: 455px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all .1s ease-in-out;

    @media (min-width: 840px) {
        &:nth-child(2n) {
            margin-top: 1rem;
        }
    }

    &:hover {
        transform: scale(1.02);
    }

    .image {
        width: 100%;
        height: 45%;
        background-color: #b2b2b2;
    }

    .content {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        height: 55%;
        justify-content: space-around;

        .title {
            font-size: 24px;
            color: #000000;
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
            margin: .2rem 0;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .description {
            font-size: 16px;
            line-height: 21px;
            color: #000000;
            font-weight: 400;
            font-family: 'Roboto', sans-serif;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}