.custom-subit-button {
    width: 100%;
    max-width: 200px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #4da6e4;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: all .1s ease-in-out;

    &:hover {
        background-color: #3c8dc7;
    }
}