.custom-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
    overflow: hidden;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 0.1rem 1rem;
    width: 100%;
    height: 40px;
    min-width: 200px;

    &.error {
        border: 1px solid red;
    }

    label {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 8px;
        color: rgba(0, 0, 0, 0.448);
    }

    p {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 8px;
        color: red;
        margin: 0;
        opacity: 0.8;
    }

    input {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: black;
        width: 100%;
        border: none;
        padding: 0;
    }
}