.slider {
    width: 100%;
    height: 100%;

    &>div {
        height: 100%;
    }
}

.slick-slide {
    margin: 0px 20px;
    transition: all ease-in-out .3s;
    opacity: 0; // <-- 0.2 original
}

.slick-prev:before,
.slick-next:before {
    color: #ffffff;
    font-size: 90px;
    opacity: 1;
    font-weight: 900;
    position: relative;
    left: -12px;
}

.slick-arrow{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #4da6e4 !important;
}

.slick-prev {
    left: 25px;
    z-index: 1;
    display: none !important; // <-- original doesn't have this

    @media (min-width: 40rem) {
        display: block !important; // <-- original doesn't have this
    }
}

.slick-next {
    right: 25px;
    z-index: 1;
    display: none !important; // <-- original doesn't have this

    @media (min-width: 40rem) {
        display: block !important;  // <-- original doesn't have this
    }
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.slick-slide.slick-cloned {
    opacity: 0;     // <-- original doesn't have this
}