// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

// styles
@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';
@import 'UI/slick-slyder.scss';
@import '../../dist/slick/slick.scss';
@import '../scss/UI/customInput.scss';

// general styles
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

select:focus,
textarea:focus,
input:focus {
  outline: none;
}