.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    h1 {
        font-size: 42px;
        line-height: 18px;
        color: #000000;
        font-weight: 300;
        font-family: "Roboto";
        text-align: center;
    }

    hr {
        width: 100%;
        border: 1px solid #cccccc;
    }
}



.form {
    max-width: 928px;
    width: 100%;
    margin: 2rem 0;

    .user-name {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;

        .custom-input {
            flex: 45%;
        }
    }

    .user-email {
        margin: 1rem 0;
    }

    .user-location {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;

        .custom-input {
            flex: 45%;

            select {
                border: none;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                font-weight: 300;
                color: black;
            }
        }


    }

    .user-ci {
        margin: 1rem 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;

        .custom-input {
            flex: 45%;
        }

        .custom-ckeckbox {
            flex: 45%;
            display: flex;
            align-items: center;
            gap: 0.4rem;

            label {
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                font-weight: 300;
                color: black;
            }
        }

    }

    .user-submit {
        display: flex;
        justify-content: center;

        button {
            width: 100%;
            max-width: 200px;
            height: 40px;
            border: none;
            border-radius: 4px;
            background-color: #4da6e4;
            color: #ffffff;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
        }
    }

}

.custom-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
    overflow: hidden;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 0.1rem 1rem;
    width: 100%;
    height: 40px;
    min-width: 200px;

    label {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 8px;
        color: rgba(0, 0, 0, 0.448);
        // display: none;
    }

    input {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: black;
        width: 100%;
        border: none;
        padding: 0;
    }
}