.header {
    // height: 420px;
    height: 330px;
    background: #d2d2d2;

    @media (min-width: 40rem) {
        height: 420px;
    }

    .product-slider {
        .slide-container {
            position: relative;
            border: green 1px solid;
            height: 330px;

            @media (min-width: 40rem) {
                height: 420px;
            }

            .product-info {
                display: flex;
                flex-direction: column;
                height: 330px;
                padding: 2rem 0 3rem 0;
                position: absolute;
                left: -40px;

                @media (min-width: 40rem) {
                    height: 420px;
                    left: 130px;
                }

                h3 {
                    opacity: 0.502;
                    font-size: 16px;
                    text-transform: uppercase;
                    color: #000000;
                    font-weight: 300;
                    font-family: "Roboto";
                    margin: 0;

                    @media (min-width: 40rem) {
                        font-size: 42px;
                        margin-left: 0.5rem;
                    }
                }

                h1 {
                    flex-grow: 1;
                    opacity: 0.502;
                    font-size: 65px;
                    line-height: 65px;
                    color: #696969;
                    font-weight: 900;
                    font-family: "Roboto";
                    margin: 0;

                    @media (min-width: 40rem) {
                        // flex-grow: 0;

                        font-size: 170px;
                        line-height: 150px;
                        color: #000000;
                        font-weight: 900;
                    }
                }

                button {
                    width: 174px;
                    height: 44px;
                    border-radius: 10px;
                    background-color: #4da6e4;
                    border: none;

                    font-size: 14px;
                    letter-spacing: 4px;
                    // line-height: 9px;
                    text-transform: uppercase;
                    color: #ffffff;
                    font-weight: 700;
                    font-family: "Roboto";

                    @media (min-width: 40rem) {
                        width: 358px;
                        height: 90px;
                        font-size: 28px;
                        letter-spacing: 8px;
                        margin-bottom: 17px;
                    }

                    &:hover {
                        background-color: #3c8dc7;
                    }
                }
            }

            .product-cost {
                height: 330px;
                position: absolute;
                right: -70px;
                width: 245px;
                overflow: hidden;

                @media (min-width: 40rem) {
                    height: 420px;
                    right: 20px;
                    width: 679px;
                    border: red 1px solid;
                    overflow: visible;
                }

                .img-small {
                    position: absolute;
                    right: -74px;
                    top: 48px;
                    width: 314px;
                    height: 255px;
                    z-index: -1;

                    @media(min-width: 40rem) {
                        display: none;
                    }
                }

                .img-large {
                    display: none;
                    position: absolute;
                    
                    @media(min-width: 40rem) {
                        display: block;
                        right: 0px;
                        top: -60px;
                        width: 677px;
                        height: 633px;
                        // z-index: -1;
                    }
                }

                .cost-container {
                    position: absolute;
                    top: 115px;
                    left: 93px;

                    .currency {
                        font-size: 19px;
                        color: #ffffff;
                        font-weight: 900;
                        font-family: "Roboto";
                        margin: 0;
                    }

                    .cost {
                        display: flex;

                        .cost-value {
                            font-size: 67px;
                            line-height: 50px;
                            color: #ffffff;
                            font-weight: 900;
                            font-family: "Roboto";
                            margin: 0;
                        }

                        .plan {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            >h3 {
                                font-size: 18px;
                                color: #ffffff;
                                font-weight: 900;
                                font-family: "Roboto";
                                margin: 0;
                            }
                        }
                    }



                }
            }
        }
    }
}