.main {
    padding: 1rem;

    @media(min-width:840) {
        padding: 1.5rem;
    }

    >h1 {
        font-size: 32px;
        line-height: 18px;
        color: #000000;
        font-weight: 300;
        font-family: "Roboto";
        margin: 2.2rem 0;

        @media(min-width:840) {
            font-size: 42px;
        }
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-gap: 1rem 2rem;
    }
}