@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;900&family=Permanent+Marker&family=Roboto+Condensed&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

@import 'main-header.scss';
@import 'eip-brand.scss';
@import 'carousel/item--home.scss';
@import 'carousel/item--about-me.scss';
@import 'carousel/item--contact-me.scss';

:root {
    --color_1: #fefffb;
    --color_2: #9b675c;
    --color_3: #13a0ad;
    --color_4: #092236c9;
    --color_5: #092236f5;

    --font_1: 'Orbitron', sans-serif;
    --font_2: 'Roboto Flex', sans-serif;
}

._hide {
    display: none;
}

._field-error {
    border: red 2px solid !important;
}

html {
    height: 100%;
}

body {
    /* color: var(--color_1); */
    display: grid;
    grid-template-rows: 3.5rem calc(100vh - 3.5rem);
    grid-template-areas:
        'header'
        'main';
    height: inherit;
}

p {
    margin: 0;
}

.main {
    grid-area: main;
    height: inherit;
    font-family: var(--font_2);
    text-shadow: 2px 2px 2px black;
}

.main__backgroud {
    position: fixed;
    inset: 0;
    background: url('../images/img1.jpg') center/cover;
    z-index: -2;
}

._carousel {
    height: inherit;
}

._carousel__inner {
    height: inherit;
    /* overflow: auto; */
}

._carousel-item__backgroud {
    position: fixed;
    inset: 0;
    z-index: -1;
}

._carousel-item__content {
    color: var(--color_1);
    display: grid;
    grid-template-rows: minmax(5rem, auto);
    justify-items: center;
    padding: 2rem;
    text-align: center;
    grid-gap: 1.5rem;
}

._content__header {
    grid-area: header;
    align-self: end;

    font-family: 'Permanent Marker', cursive;
    color: var(--color_2);
    font-size: 3rem;
}

._content__header .h1 {
    font-size: 3rem;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}

@media (min-width: 40rem) {
    ._carousel-item__content {
        grid-gap: 2rem;

        margin: 0 auto;
        max-width: 60rem;
    }

    ._content__header {
        justify-self: start;
    }

    ._content__header {
        font-size: 4.5rem;
    }
}
